#!/usr/bin/env nextflow

process.container = 'GermlineSingularity/GermlineApps'
singularity.enabled = true
process.executor='slurm'

//Remember you need to set the appropriate variables for the cluster process
//cpus '5'
//queue 'long,short' - for grid based executors
//time '1h' - time allowed to run
//memory '2GB'
//clusterOptions - to set options specific to our cluster

params {

    indir = "data/"
    outdir = "my-results"
    scripts_dir = "scripts/"


    // Are reads paired or single end?
    paired = true

    if(params.paired){
        reads = "${params.indir}/*_R{1,2}_*.fastq.gz"
    }else{reads = "${params.indir}/files.csv"}


}

params {
 
   // Parameters for trimming process.
   adapter_file = ""
   adapter_trimm = "${params.indir}/${params.adapter_file}"

   minlen = 20
   minqual = 20
   
}

params {

    // Parameters for mapping
    aln = "bwa"
    mappingOptions = "" 

}
