#!/usr/bin/env nextflow

process.container = './GermlineSingularity/Variant_Calling_def.sif' 
// Image is called specifically for this directory structure, susceptible of change in the future
singularity.enabled = true
singularity.runOptions = '-B /media'
cleanup = false

params{
  
  // Params for debugging -----------------------

  skipMain = false
  params.dev = false
  params.number_of_inputs = 1

}

params {

    //General params---------------------------
    help = false

    working_dir = "${baseDir}"

    indir = "data"
    outdir = "my-results"

    //scripts_dir = "scripts" //<- currently not using modules
 
    //Setting Directories---------------------

    //singularity_dir = "~/Variant_Caller/GermlineSingularity/VariantCallingApps"
    BBDD_dir = "/media/bioinfo/Seagate_Expansion_Drive/BD/Genomes/Human/Ensembl_GRCh37" //Workstation
    //BBDD_dir = "/home/BBDD/Homo_sapiens"
    GRCh37_dir = "${params.BBDD_dir}/GRCh37/Sequence"
    GRCh38_dir = "${params.BBDD_dir}/NCBI/GRCh38/Sequence"
    threads = 1

    prefixRef = ''

}

params {
  
  //Quality check params //--------------------------------------------------------

  java_mem = '4G'

  tagFastQC = false
  tagBam = false
}

params {

  // Parameters for trimming process. //--------------------------------------------------------

    // Are reads paired or single end
    //Default:
    paired = true 

    if(params.paired){ //We currently have two methods to select our data inputs
        reads = "${params.indir}/*_R{1,2}_*.fastq*"
    }else{reads = "${params.indir}/*.csv"}
 
   adapter_file = 'NO_FILE'
   adapter_trimm = "${params.indir}/${params.adapter_file}"

   minlen = 20
   minqual = 20

}

params {

  // Parameters for Mapping //--------------------------------------------------------

    // Defaults:
    aln = "bwa"
    prefix = "out" //prefix for output file
    platform = "ILLUMINA"
    genome = "GRCh37"
    //RG = ''
    indexRef = ''
    region_intervals = 'NO_FILE'
    GVCFmode = 'true'

    if(params.genome == "GRCh37"){ //--------------------------------------------------------
      if(params.aln == "bwa"){
          indexRef = "${params.GRCh37_dir}/BWAIndex/genome.fa"
          //indexRef = "${params.indir}/BWAIndex/genome.fa"
          //RG = "@RG\\tID:${params.prefix}\\tSM:${params.prefix}\\tPL:${params.platform}"
          //indexRef = "${params.working_dir}/${params.GRCh37_dir}/BWAIndex/genome.fa"
      }else if(params.aln == "bowtie2"){
          indexRef = "${params.GRCh37_dir}/Bowtie2Index/genome"
          //RG = " --rg-id ${params.prefix} --rg SM:${params.prefix} --rg PL:${params.platform}"
          //indexRef = "${params.working_dir}/${params.GRCh37_dir}/Bowtie2Index/genome"
      }

      seqRef = "${params.GRCh37_dir}/WholeGenomeFasta/genome.fa"

    }else if(params.genome == "GRCh38"){ //--------------------------------------------------------

      if(params.aln == "bwa"){
          indexRef = "${params.GRCh38_dir}/BWAIndex/genome.fa"
          //RG = "@RG\\tID:${params.prefix}\\tSM:${params.prefix}\\tPL:${params.platform}"
          //indexRef = "${params.working_dir}/${params.GRCh38_dir}/BWAIndex/genome.fa"
      }else if(params.aln == "bowtie2"){
          indexRef = "${params.GRCh38_dir}/Bowtie2Index/genome"
          //RG = " --rg-id ${params.prefix} --rg SM:${params.prefix} --rg PL:${params.platform}"
          //indexRef = "${params.working_dir}/${params.GRCh38_dir}/Bowtie2Index/genome"
      }

      seqRef = "${params.GRCh38_dir}/WholeGenomeFasta/genome.fa"


    }else{
    /* RG is now declared in main.
    if(params.aln == "bwa"){
          
          //RG = "@RG\\tID:${params.prefix}\\tSM:${params.prefix}\\tPL:${params.platform}"
          
      }else if(params.aln == "bowtie2"){
          
          //RG = " --rg-id ${params.prefix} --rg SM:${params.prefix} --rg PL:${params.platform}"
      }*/

    seqRef = "${params.genome}"    
    indexRef = "${params.genome}"

    }
    mappingOptions = ""
    remove_duplicates = false
    mapping_intervals = "NO_FILE"

}

params {
  
  //Parameters for Recalibration //--------------------------------------------------------
  //Default:
  dbSNP = ''

  if(params.genome == "GRCh37"){

  //dbSNP ='~/GermlineSingularity/GermlineApps/home/BBDD/Homo_sapiens/dbSNP/GRCh37/common_all_20180418.vcf'
  dbSNP ="${params.BBDD_dir}/dbSNP/common_all_20180423.vcf"
  dbSNP_index = "${params.BBDD_dir}/dbSNP/${params.genome}/common_all_20180423.vcf.idx"

}else if(params.genome == "GRCh38"){

  dbSNP ='~/GermlineSingularity/GermlineApps/home/BBDD/Homo_sapiens/dbSNP/GRCh38/common_all_20180418.vcf'

  }else{

      dbSNP = 'NO_FILE'
      dbSNP_index = 'NO_FILE'
 }
}

params {
  
  //Parameters for Variant calling //--------------------------------------------------------
  //Defaults:

  skip_variant_calling = true
  common_id = "*"

  VCF_files = "${params.outdir}/raw_variant_calling_files/${params.common_id}.{vcf,vcf.idx}"

  vc = "freebayes"
  vcOpts = ""
  rmDups_GATK = ""
  ploidy = 'no'
  min_alt_fraction = ''

  if(params.vc == "gatk"){
    if(params.remove_duplicates == false){
      rmDups_GATK = "--disable-read-filter NotDuplicateReadFilter"
    }
  }

}
